BasedOnStyle: LLVM
ColumnLimit: 150
AccessModifierOffset: -2
IndentWidth: 2
TabWidth: 2
BreakBeforeBraces: Attach
AfterCaseLabel: true
AfterClass: true
AfterFunction: true
AfterNamespace: true
AfterStruct: true
AfterUnion: true
AfterExternBlock: true
AfterObjCDeclaration: true
AfterControlStatement: true
AlignConsecutiveAssignments: true
AlignTrailingComments: true
AllowShortIfStatementsOnASingleLine: true
AlwaysBreakTemplateDeclarations: true
IndentCaseLabels: true
NamespaceIndentation: All
PointerAlignment: Left

